<template>
  <div class="filters-wrapper">
    <!-- Always Visible Filters Section -->
    <div class="filter-container">
      <h3>Filter Imaging Reports and Studies:</h3>
      <div class="filter-group">
        <div class="filter">
          <label for="modality">
            Modality:
            <select name="modality" id="modality" v-model="modalityCode">
              <option value=""></option>
              <option value="CT">CT</option>
              <option value="MRI">MRI</option>
              <option value="X-ray">X-ray</option>
              <option value="Ultrasound">Ultrasound</option>
              <option value="PET">PET</option>
            </select>
          </label>
        </div>

        <div class="filter">
          <label for="bodyPart">
            Anatomical Region:
            <select name="bodyPart" id="bodyPart" v-model="bodyPartCode">
              <option value=""></option>
              <option value="38266002">Whole Body</option>
              <option value="123037004">Head</option>
              <option value="123038009">Chest</option>
              <option value="123039001">Abdomen</option>
              <option value="123040004">Pelvis</option>
              <option value="63337009">Abdominopelvic Segment of Trunk</option>
              <option value="53120007">Upper Limb Structure</option>
              <option value="61685007">Lower Limb Structure</option>
              <option value="67734004">Thoracic Segment of Trunk</option>
              <option value="774007">Structure of Head and/or Neck</option>
              <option value="113257007">Structure of Cardiovascular System</option>
              <option value="80891009">Heart</option>
              <option value="76752008">Breast Structure</option>
              <option value="737561001">Structure of Vertebral Column and/or Spinal Cord</option>
            </select>
          </label>
        </div>

        <div class="filter">
          <label for="periodStartDate">
            Study Start Date:
            <input type="date" id="periodStartDate" v-model="periodStartDate" />
          </label>
          <label for="periodEndDate">
            Study End Date:
            <input type="date" id="periodEndDate" v-model="periodEndDate" />
          </label>
        </div>
      </div>

      <!-- Search Button -->
      <div class="search-btn-container">
        <Button label="Search" primary @click="search" />
      </div>
    </div>

    <!-- Search Results Section -->
    <div class="results-wrapper" v-if="searchPerformed">
      <h3>Search Results:</h3>

      <div v-if="data?.entry?.length">
        <div
          v-for="item in data?.entry"
          :key="item.resource.id"
          class="result-item"
          @click="fetchStudyDetails(item.resource.content?.[0]?.attachment?.url || 'N/A')"
        >
          <p><strong>Report Unique ID:</strong> {{ item.resource.id || 'N/A' }}</p>
          <p><strong>Format:</strong> {{ item.resource.content?.[0]?.attachment?.contentType || 'N/A' }}</p>
          <p><strong>Accession Number:</strong> {{ getIdentifierValue(item.resource.context.related[0]?.identifier, 'urn:ihe:iti:xds:2013:accession') || 'N/A' }}</p>
          <p><strong>Study UID:</strong> {{ getIdentifierValue(item.resource.context.related[1]?.identifier, 'urn:ihe:iti:xds:2016:studyInstanceUID') || 'N/A' }}</p>
        </div>
      </div>
      <div v-else>
        <p>No results found.</p>
      </div>
    </div>

    <!-- Study Details Section -->
    <div class="results-wrapper" v-if="isFetchingDetails">
      <h3>Study Details</h3>
      <div>
        <p><strong>Study UID:</strong> {{ studyDetails.uid }}</p>
        <p><strong>Description:</strong> {{ studyDetails.studyDescription }}</p>
        <p><strong>Accession Number:</strong> {{ studyDetails.accessionNumber }}</p>

        <h4>Series and Instances:</h4>
        <div v-for="(series, seriesIndex) in studyDetails.series" :key="seriesIndex" class="series">
          <p><strong>Series Description:</strong> {{ series.description }}</p>
          <p><strong>Series UID:</strong> {{ series.uid }}</p>
          <p><strong>Series Modality:</strong> {{ series.modality }}</p>
          <p><strong>Series endpoint:</strong> {{ series.endpoint }}</p>
          <ul>
            <li v-for="(instance, i) in series.instances" :key="i">
              <button @click="fetchDICOMImage(studyDetails.uid, series.uid, instance.uid)">
               <p> Fetch Image for Instance {{ instance.uid }} </p>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Display DICOM Image -->
    <div v-if="isFetchDICOMImage" class="dicom-image-container">
      <h4>Fetched DICOM Image:</h4>
      <div id="dicomImage" style="width: 100%; height: 500px;"></div> <!-- Container for the DICOM image -->
    </div>
  </div>
</template>

<script>
import * as dcmjs from 'dcmjs';
import axios from 'axios';
import cornerstone from "cornerstone-core";
import cornerstoneWADOImageLoader from "cornerstone-wado-image-loader";
import dicomParser from "dicom-parser";
import cornerstoneTools from "cornerstone-tools";
import Button from "../ui/Button.vue";
import { searchDocRefsForMedicalImageReport, searchDocRefsForMedicalImagingStudyManifest, displayMedicalImage } from "../../api";

export default {
  components: {
    Button,
  },
  data() {
    return {
      modalityCode: null,
      bodyPartCode: null,
      periodStartDate: null,
      periodEndDate: null,
      data: null,
      searchPerformed: false,
      studyUid: "",
      description: "",
      studyCustodian: "",
      isFetchingDetails: false,
      isFetchDICOMImage: false,
      error: null,
      studyDetails: {
        uid: null,
        modality: null,
        studyDate: null,
        studyTime: null,
        studyDescription: null,
        accessionNumber: null,
        series: [],
      },
      imageUrl: null, // Store DICOM image URL here
    };
  },
  computed: {
    request() {
      return {
        countryCode: "BE",
        patientId: {
          root: "https://www.ehealth.fgov.be/standards/fhir/core/NamingSystem/ssin",
          extension: "89121210976",
        },
        modalityCode: this.modalityCode,
        bodyPartCode: this.bodyPartCode,
        periodStartDate: this.periodStartDate ? new Date(this.periodStartDate) : null,
        periodEndDate: this.periodEndDate ? new Date(this.periodEndDate) : null,
      };
    },
  },
  methods: {
    getIdentifierValue(identifier, targetSystem) {
      if (!identifier) return null;
      return identifier.system === targetSystem ? identifier.value : null;
    },
    async search() {
      try {
        this.searchPerformed = false;
        this.data = null;

        const response = await searchDocRefsForMedicalImageReport(this.request);
        this.data = response;
        this.searchPerformed = true;
      } catch (error) {
        console.error("Error during search", error);
        alert("An error occurred while performing the search. Please try again.");
      }
    },
    async fetchStudyDetails(url) {
      this.isFetchingDetails = true;
      this.error = null;

      try {
        const response = await searchDocRefsForMedicalImagingStudyManifest(url, this.request);
        if (response.content && response.content.length > 0) {
          const base64Data = response.content[1].attachment.data;
          const cleanedBase64Data = base64Data.replace(/\s+/g, "");
          const decodedData = atob(cleanedBase64Data);

          if (decodedData.startsWith("{") && decodedData.endsWith("}")) {
            try {
              const parsedData = JSON.parse(decodedData);
              this.studyDetails = {
                modality: parsedData.modality,
                studyDate: parsedData.studyDate,
                studyTime: parsedData.studyTime,
                studyDescription: parsedData.studyDescription,
                accessionNumber: parsedData.accessionNumber,
                uid: parsedData.uid,
                series: parsedData.series.map(seriesItem => ({
                  uid: seriesItem.uid,
                  description:seriesItem.uid,
                  modality:seriesItem.modality,
                  endpoint:seriesItem.endpoint,
                  instances: seriesItem.instances.map(instance => ({
                    uid: instance.uid,
                  }))
                })),
              };
            } catch (jsonError) {
              console.error("Error parsing JSON:", jsonError);
              this.error = "Failed to parse study details.";
            }
          } else {
            console.error("Decoded data is not in JSON format:", decodedData);
            this.error = "Decoded data is not in JSON format.";
          }
        } else {
          this.error = "No content available in the response.";
        }
      } catch (error) {
        console.error("Error fetching study details:", error);
        this.error = "Failed to fetch study details.";
      } finally {
      //  this.isFetchingDetails = false;
      }
    },
    async fetchDICOMImage(studyUid, seriesUid, instanceUid) {
        this.isFetchDICOMImage = true; // Start the fetching process
        this.error = null;

        try {
            // Step 1: Fetch the DICOM image binary data (ArrayBuffer)
            const dicomArrayBuffer = await displayMedicalImage(studyUid, seriesUid, instanceUid, this.request);
            if (!(dicomArrayBuffer instanceof ArrayBuffer)) {
                throw new Error("Invalid DICOM data: Expected ArrayBuffer.");
            }

            console.log("DICOM data fetched successfully.");

            // Step 2: Parse the DICOM data using dcmjs (alternative to dicomParser)
            const dicomData = dcmjs.data.DicomMessage.readFile(dicomArrayBuffer);
            const dataSet = dicomData.dict; // This contains the parsed DICOM data
            console.log("DICOM data parsed successfully:", dataSet);

            // Step 3: Configure Cornerstone WADO Image Loader
            cornerstoneWADOImageLoader.external.dicomParser = dcmjs.data.DicomMessage;

            // Step 4: Clean up any existing Cornerstone state
            const element = document.getElementById("dicomImage");
            if (!element) {
                throw new Error("DICOM display element not found. Please check your HTML.");
            }

            cornerstone.disable(element); // Clean up previous Cornerstone state
            cornerstone.enable(element); // Enable Cornerstone on the target DOM element

            // Step 5: Add the DICOM ArrayBuffer to Cornerstone's fileManager
            const imageId = cornerstoneWADOImageLoader.wadouri.fileManager.addBuffer(dicomArrayBuffer);
            console.log("Image ID added to Cornerstone fileManager:", imageId);

            // Step 6: Load and display the image using Cornerstone
            const image = await cornerstone.loadAndCacheImage(imageId);
            cornerstone.displayImage(element, image);

            console.log("DICOM image displayed successfully.");
        } catch (error) {
            console.error("Error fetching or displaying DICOM image:", error);

            // Provide user-friendly error feedback
            this.error = error.message || "Failed to fetch or display DICOM image.";
        } finally {
            this.isFetchDICOMImage = false; // Stop the fetching process
        }
    },
  },
};
</script>

<style scoped>
.filters-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

.filter-container {
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-group {
  margin: 1rem 0;
}

.search-btn-container {
  margin: 1rem 0;
}

.results-wrapper {
  padding: 1rem;
}

.result-item {
  background-color: #f0f0f0;
  padding: 0.8rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.series {
  margin-bottom: 1em;
}

.instance {
  margin: 0.5em 0;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.dicom-image-container {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
</style>